<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- 反向代理：newapi.apishop.cc/* -> 127.0.0.1:3000/* -->
        <rule name="ReverseProxyToLocal3000" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:3000/{R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>

    <!-- 如果有 WebSocket/SSE，可开启 -->
    <webSocket enabled="true" />
  </system.webServer>
</configuration>
